Repository GhostWriters/DSAC, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs

Remove old data files
  .data/bazarr.json
  .data/hydra2.json
  .data/hydra2_indexer_defaults.yml
  .data/jackett.json
  .data/lazylibrarian.json
  .data/lidarr.json
  .data/mylar.json
  .data/nzbget.json
  .data/qbittorrent.json
  .data/quick_setup_apps.json
  .data/radarr.json
  .data/sabnzbd.json
  .data/sonarr.json
  .data/supported_apps.json
  .data/transmission.json
Labels: apps

Update get_docker_containers script - Change to using yml in .data directory instead of overwriting base YML - Update some output and comments
  .scripts/get_docker_containers.sh
Labels: none

Update get_api_keys script - Change to using yml in .data directory instead of overwriting base YML
  .scripts/get_api_keys.sh
Labels: none

Update supported_apps, now with more YML! - Add back file copy for supported apps - Add supported_apps.yml (converted from supported_apps.json)
  .data/supported_apps.yml
  .scripts/menu_custom_app_select.sh
Labels: apps

Update quick_setup to YML - Refactor to use YML files - Update output - Change SELECTEDAPPS to SELECTEDCONFIGS - Fix Books & Comics option - Add quick_setup.yml (converted from quick_setup.json)
  .data/quick_setup.yml
  .scripts/menu_quick_setup.sh
Labels: apps

Update menu_main - Copy supported_apps.yml to configure_apps.yml for configuring existing containers
  .scripts/menu_main.sh
Labels: none

Convert configure_applications to use YML - Change variable names - Update outputs - Restructure/refactor
  .scripts/configure_applications.sh
Labels: none

Convert configure_add_indexer to use YML - Change variable names - Update outputs - Restructure/refactor
  .scripts/configure_add_indexer.sh
Labels: none

Fix indexer retrieval
  .scripts/configure_add_indexer.sh
Labels: none

Convert configure_add_downloader to use YML - Change variable names - Update outputs - Restructure/refactor
  .scripts/configure_add_downloader.sh
Labels: none

Update run_dockstarter - Remove obsolete backup command - Refactoring code to handle yml - Add force flag to install - Update outputs - Linting
  .scripts/run_dockstarter.sh
Labels: none

Rename hydra2 to nzbhydra2
  .apps/nzbhydra2/indexer_defaults.yml
  .apps/nzbhydra2/nzbhydra2.labels.dsac.yml
  .data/quick_setup.yml
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
Labels: apps

Update configure_add_downloader - Refactor downloader check - Linting
  .scripts/configure_add_downloader.sh
Labels: none

Refactoring and changing and linting, oh my!
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
  .scripts/get_api_keys.sh
  .scripts/get_docker_containers.sh
  .scripts/menu_custom_app_select.sh
  .scripts/menu_quick_setup.sh
Labels: none

Update logging methods
  main.sh
Labels: core

Linting
  .data/quick_setup.yml
  .scripts/configure_add_downloader.sh
  .scripts/get_docker_containers.sh
Labels: apps

Linting
  .scripts/menu_custom_app_select.sh
Labels: none

Spelling saves build lives...
  .scripts/menu_custom_app_select.sh
Labels: none

Linting
  .data/supported_apps.yml
Labels: apps

Add internal yml_get and yml_set scripts
  .scripts/yml_get.sh
  .scripts/yml_set.sh
Labels: none

Update yml handling, variables, and outputs
  .scripts/configure_add_downloader.sh
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
  .scripts/get_api_keys.sh
  .scripts/get_docker_containers.sh
Labels: none

Update yml handling - Rename nzbhydra2 handler
  .scripts/configure_bazarr.sh
  .scripts/configure_hydra2.sh
  .scripts/configure_nzbhydra2.sh
Labels: none

Add comment on reason for shellcheck disable
  main.sh
Labels: core

Small fix for linting
  .scripts/run_dockstarter.sh
Labels: none

Change variable names for clarity AKA I was getting confused...
  .scripts/configure_add_downloader.sh
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
  .scripts/configure_bazarr.sh
  .scripts/configure_nzbhydra2.sh
Labels: none

Refactor to use yml
  .scripts/configure_torrent_downloader.sh
  .scripts/configure_usenet_downloader.sh
Labels: none

Add getting the application name of the container
  .scripts/get_docker_containers.sh
Labels: none

Linting Add ignore for SC2001
  .scripts/configure_add_downloader.sh
Labels: none

Linting Missed one
  .scripts/configure_add_downloader.sh
Labels: none

Should fix #29
  .scripts/configure_add_indexer.sh
Labels: none

Add shellcheck disable for linting
  .scripts/configure_add_indexer.sh
Labels: none

Linting
  .scripts/configure_add_indexer.sh
Labels: none

Good catch, linter!
  .scripts/configure_bazarr.sh
Labels: none

Another linter win!
  .scripts/configure_bazarr.sh
Labels: none

Linting I really need to get my local linter working again...
  .scripts/configure_nzbhydra2.sh
Labels: none

Fix config path variable
  .scripts/configure_torrent_downloader.sh
Labels: none

Fix config path variable
  .scripts/configure_usenet_downloader.sh
Labels: none

Fix output in GitHub Actions
  main.sh
Labels: core

Change test for yml_get and yml_set
  .scripts/yml_get.sh
  .scripts/yml_set.sh
Labels: none

Remove manifest
  dsac_manifest.csv
Labels: none

.github/labeler.yml:

apps:
  - "compose/.apps/**/*.yml"
  - ".apps/**/*.yml"
  - ".data/*.yml"
  - ".data/*.json"

ci:
  - ".github/workflows/*.yml"
  - ".travis.yml"

core:
  - "*.sh"

docs:
  - "*.md"
