Repository GhostWriters/DSAC, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs

.github/labeler.yml:

apps:
  - "compose/.apps/**/*.yml"
  - ".apps/**/*.yml"
  - ".data/*.yml"
  - ".data/*.json"

ci:
  - ".github/workflows/*.yml"
  - ".travis.yml"

core:
  - "*.sh"

docs:
  - "*.md"

Linting Add ignore for SC2001
  .scripts/configure_add_downloader.sh
Labels: none

Linting Missed one
  .scripts/configure_add_downloader.sh
Labels: none

Should fix #29
  .scripts/configure_add_indexer.sh
Labels: none

Add shellcheck disable for linting
  .scripts/configure_add_indexer.sh
Labels: none

Linting
  .scripts/configure_add_indexer.sh
Labels: none

Good catch, linter!
  .scripts/configure_bazarr.sh
Labels: none

Another linter win!
  .scripts/configure_bazarr.sh
Labels: none

Linting I really need to get my local linter working again...
  .scripts/configure_nzbhydra2.sh
Labels: none

Fix config path variable
  .scripts/configure_torrent_downloader.sh
Labels: none

Fix config path variable
  .scripts/configure_usenet_downloader.sh
Labels: none

Fix output in GitHub Actions
  main.sh
Labels: core

Change test for yml_get and yml_set
  .scripts/yml_get.sh
  .scripts/yml_set.sh
Labels: none

Update workflows
  .github/workflows/CI.yml
  .github/workflows/linter.yml
  .github/workflows/stale.yml
Labels: ci

Fix md issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Update workflows (#32)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/CI.yml
  .github/workflows/linter.yml
  .github/workflows/stale.yml
Labels: ci

Remove manifest
  dsac_manifest.csv
Labels: none

Bring main.sh to be more inline with DS
  main.sh
Labels: core

Change yml_get/yml_set filenames to test CI issue
  .scripts/yml_get.sh.wat
  .scripts/yml_set.sh.wat
Labels: none

Revert
  .scripts/yml_get.sh
  .scripts/yml_set.sh
Labels: none

Remove python and other packages not used by
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_remove_python.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_remove_python.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_remove_python.sh
Labels: none

Update to be more inline with DS
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/question_prompt.sh
  .scripts/update_self.sh
  main.sh
Labels: core

Update yq
  .scripts/install_yq.sh
Labels: none

Add missing force handling
  main.sh
Labels: core

Linting
  .scripts/pm_dnf_upgrade.sh
  main.sh
Labels: core

Fix variables and some YML handling
  .scripts/configure_applications.sh
  .scripts/configure_torrent_downloader.sh
  .scripts/get_docker_containers.sh
Labels: none

Remove dependency install and add some debug
  .scripts/run_dockstarter.sh
Labels: none

Linting...
  .scripts/get_docker_containers.sh
Labels: none

Update logging for Ubuntu 20.04
  .develop/develop.sh
  .gitignore
  main.sh
Labels: core

Linting
  .develop/develop.sh
  main.sh
Labels: core

Merge changes from DS upstream
  .scripts/ds_yml_get.sh
  .scripts/install_yq.sh
  .scripts/package_manager_run.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_remove_python.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_clean.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_remove_python.sh
  .scripts/pm_dnf_repos.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_clean.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_repos.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_clean.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_remove_python.sh
  .scripts/pm_yum_repos.sh
  .scripts/question_prompt.sh
  .scripts/run_install.sh
  .scripts/symlink_dsac.sh
  .scripts/update_self.sh
  main.sh
Labels: core

Fix shfmt
  .scripts/pm_pacman_install.sh
Labels: none

Fix shfmt
  .scripts/update_self.sh
Labels: none

Merge changes from DS upstream (#33)
  .scripts/ds_yml_get.sh
  .scripts/install_yq.sh
  .scripts/package_manager_run.sh
  .scripts/pm_apt_clean.sh
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_remove_python.sh
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_clean.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_remove_python.sh
  .scripts/pm_dnf_repos.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_pacman_clean.sh
  .scripts/pm_pacman_install.sh
  .scripts/pm_pacman_repos.sh
  .scripts/pm_pacman_upgrade.sh
  .scripts/pm_yum_clean.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_remove_python.sh
  .scripts/pm_yum_repos.sh
  .scripts/question_prompt.sh
  .scripts/run_install.sh
  .scripts/symlink_dsac.sh
  .scripts/update_self.sh
  main.sh
Labels: core

Add app yml files
  .apps/bazarr/bazarr.labels.dsac.yml
  .apps/hydra2/hydra2.labels.dsac.yml
  .apps/hydra2/indexer_defaults.yml
  .apps/jackett/jackett.labels.dsac.yml
  .apps/lazylibrarian/lazylibrarian.labels.dsac.yml
  .apps/lidarr/lidarr.labels.dsac.yml
  .apps/mylar/mylar.labels.dsac.yml
  .apps/nzbget/nzbget.labels.dsac.yml
  .apps/qbittorrent/qbittorrent.labels.dsac.yml
  .apps/radarr/radarr.labels.dsac.yml
  .apps/sonarr/sonarr.labels.dsac.yml
  .apps/transmission/transmission.labels.dsac.yml
Labels: apps

Update develop scripts
  .develop/develop.sh
  .develop/develop_local.sh
Labels: none

Convert to use yml - Change variable names - Update outputs - Restructure/refactor
  .scripts/get_docker_containers.sh
Labels: none

Convert to use yml - Change variable names - Update outputs - Restructure/refactor
  .scripts/get_api_keys.sh
Labels: none

Remove unneeded code
  .scripts/menu_main.sh
Labels: none

Update devlop script
  .develop/develop.sh
Labels: none

Change to ds advance arguments
  .scripts/ds_env_get.sh
  .scripts/ds_env_set.sh
  .scripts/ds_yml_get.sh
  .scripts/menu_custom_app_select.sh
Labels: none
