Repository GhostWriters/DSAC, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs

Initial move of overrides generation from DS
  .scripts/docker_overrides_compile.sh
  .scripts/docker_overrides_initialize.sh
  .scripts/docker_overrides_validate.sh
  .scripts/menu_main.sh
  .scripts/menu_overrides.sh
Labels: none

Add app yml files
  .apps/bazarr/bazarr.labels.dsac.yml
  .apps/hydra2/hydra2.labels.dsac.yml
  .apps/hydra2/indexer_defaults.yml
  .apps/jackett/jackett.labels.dsac.yml
  .apps/lazylibrarian/lazylibrarian.labels.dsac.yml
  .apps/lidarr/lidarr.labels.dsac.yml
  .apps/mylar/mylar.labels.dsac.yml
  .apps/nzbget/nzbget.labels.dsac.yml
  .apps/qbittorrent/qbittorrent.labels.dsac.yml
  .apps/radarr/radarr.labels.dsac.yml
  .apps/sonarr/sonarr.labels.dsac.yml
  .apps/transmission/transmission.labels.dsac.yml
Labels: apps

Update develop scripts
  .develop/develop.sh
  .develop/develop_local.sh
Labels: none

Convert to use yml - Change variable names - Update outputs - Restructure/refactor
  .scripts/get_docker_containers.sh
Labels: none

Convert to use yml - Change variable names - Update outputs - Restructure/refactor
  .scripts/get_api_keys.sh
Labels: none

Remove unneeded code
  .scripts/menu_main.sh
Labels: none

Update devlop script
  .develop/develop.sh
Labels: none

Change to ds advance arguments
  .scripts/ds_env_get.sh
  .scripts/ds_env_set.sh
  .scripts/ds_yml_get.sh
  .scripts/menu_custom_app_select.sh
Labels: none

Remove old data files
  .data/bazarr.json
  .data/hydra2.json
  .data/hydra2_indexer_defaults.yml
  .data/jackett.json
  .data/lazylibrarian.json
  .data/lidarr.json
  .data/mylar.json
  .data/nzbget.json
  .data/qbittorrent.json
  .data/quick_setup_apps.json
  .data/radarr.json
  .data/sabnzbd.json
  .data/sonarr.json
  .data/supported_apps.json
  .data/transmission.json
Labels: apps

Update get_docker_containers script - Change to using yml in .data directory instead of overwriting base YML - Update some output and comments
  .scripts/get_docker_containers.sh
Labels: none

Update get_api_keys script - Change to using yml in .data directory instead of overwriting base YML
  .scripts/get_api_keys.sh
Labels: none

Update supported_apps, now with more YML! - Add back file copy for supported apps - Add supported_apps.yml (converted from supported_apps.json)
  .data/supported_apps.yml
  .scripts/menu_custom_app_select.sh
Labels: apps

Update quick_setup to YML - Refactor to use YML files - Update output - Change SELECTEDAPPS to SELECTEDCONFIGS - Fix Books & Comics option - Add quick_setup.yml (converted from quick_setup.json)
  .data/quick_setup.yml
  .scripts/menu_quick_setup.sh
Labels: apps

Update menu_main - Copy supported_apps.yml to configure_apps.yml for configuring existing containers
  .scripts/menu_main.sh
Labels: none

Convert configure_applications to use YML - Change variable names - Update outputs - Restructure/refactor
  .scripts/configure_applications.sh
Labels: none

Convert configure_add_indexer to use YML - Change variable names - Update outputs - Restructure/refactor
  .scripts/configure_add_indexer.sh
Labels: none

Fix indexer retrieval
  .scripts/configure_add_indexer.sh
Labels: none

Convert configure_add_downloader to use YML - Change variable names - Update outputs - Restructure/refactor
  .scripts/configure_add_downloader.sh
Labels: none

Update run_dockstarter - Remove obsolete backup command - Refactoring code to handle yml - Add force flag to install - Update outputs - Linting
  .scripts/run_dockstarter.sh
Labels: none

Rename hydra2 to nzbhydra2
  .apps/nzbhydra2/indexer_defaults.yml
  .apps/nzbhydra2/nzbhydra2.labels.dsac.yml
  .data/quick_setup.yml
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
Labels: apps

Update configure_add_downloader - Refactor downloader check - Linting
  .scripts/configure_add_downloader.sh
Labels: none

Refactoring and changing and linting, oh my!
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
  .scripts/get_api_keys.sh
  .scripts/get_docker_containers.sh
  .scripts/menu_custom_app_select.sh
  .scripts/menu_quick_setup.sh
Labels: none

Update logging methods
  main.sh
Labels: core

Linting
  .data/quick_setup.yml
  .scripts/configure_add_downloader.sh
  .scripts/get_docker_containers.sh
Labels: apps

Linting
  .scripts/menu_custom_app_select.sh
Labels: none

Spelling saves build lives...
  .scripts/menu_custom_app_select.sh
Labels: none

Linting
  .data/supported_apps.yml
Labels: apps

Update stale.yml
  .github/workflows/stale.yml
Labels: ci

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Linting
  .github/workflows/stale.yml
Labels: ci

Update stale workflow (#31)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/stale.yml
Labels: ci

Add internal yml_get and yml_set scripts
  .scripts/yml_get.sh
  .scripts/yml_set.sh
Labels: none

Update yml handling, variables, and outputs
  .scripts/configure_add_downloader.sh
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
  .scripts/get_api_keys.sh
  .scripts/get_docker_containers.sh
Labels: none

Update yml handling - Rename nzbhydra2 handler
  .scripts/configure_bazarr.sh
  .scripts/configure_hydra2.sh
  .scripts/configure_nzbhydra2.sh
Labels: none

Add comment on reason for shellcheck disable
  main.sh
Labels: core

Small fix for linting
  .scripts/run_dockstarter.sh
Labels: none

Change variable names for clarity AKA I was getting confused...
  .scripts/configure_add_downloader.sh
  .scripts/configure_add_indexer.sh
  .scripts/configure_applications.sh
  .scripts/configure_bazarr.sh
  .scripts/configure_nzbhydra2.sh
Labels: none

Refactor to use yml
  .scripts/configure_torrent_downloader.sh
  .scripts/configure_usenet_downloader.sh
Labels: none

Add getting the application name of the container
  .scripts/get_docker_containers.sh
Labels: none

.github/labeler.yml:

apps:
  - "compose/.apps/**/*.yml"
  - ".apps/**/*.yml"
  - ".data/*.yml"
  - ".data/*.json"

ci:
  - ".github/workflows/*.yml"
  - ".travis.yml"

core:
  - "*.sh"

docs:
  - "*.md"
