Repository GhostWriters/DSAC, changes with the labels that .github/labeler.yml gives for each.
All labels: apps, ci, core, docs

Bring main.sh to be more inline with DS
  main.sh
Labels: core

Change yml_get/yml_set filenames to test CI issue
  .scripts/yml_get.sh.wat
  .scripts/yml_set.sh.wat
Labels: none

Revert
  .scripts/yml_get.sh
  .scripts/yml_set.sh
Labels: none

Remove python and other packages not used by
  .scripts/pm_apt_install.sh
  .scripts/pm_apt_remove_python.sh
  .scripts/pm_dnf_install.sh
  .scripts/pm_dnf_remove_python.sh
  .scripts/pm_yum_install.sh
  .scripts/pm_yum_remove_python.sh
Labels: none

Update to be more inline with DS
  .scripts/pm_apt_upgrade.sh
  .scripts/pm_dnf_upgrade.sh
  .scripts/pm_yum_repos.sh
  .scripts/pm_yum_upgrade.sh
  .scripts/question_prompt.sh
  .scripts/update_self.sh
  main.sh
Labels: core

Update yq
  .scripts/install_yq.sh
Labels: none

Add missing force handling
  main.sh
Labels: core

Linting
  .scripts/pm_dnf_upgrade.sh
  main.sh
Labels: core

Fix variables and some YML handling
  .scripts/configure_applications.sh
  .scripts/configure_torrent_downloader.sh
  .scripts/get_docker_containers.sh
Labels: none

Remove dependency install and add some debug
  .scripts/run_dockstarter.sh
Labels: none

Linting...
  .scripts/get_docker_containers.sh
Labels: none

Update logging for Ubuntu 20.04
  .develop/develop.sh
  .gitignore
  main.sh
Labels: core

Linting
  .develop/develop.sh
  main.sh
Labels: core

Remove development scripts
  .develop/develop.sh
  .develop/develop_local.sh
  .develop/develop_reset.sh
Labels: none

Update some workflows
  .github/workflows/lint.yml
  .github/workflows/linter.yml
  .github/workflows/shiftleft-analysis.yml
  .github/workflows/stale.yml
Labels: ci

Updates for consistency with DS
  main.sh
Labels: core

Delete CI workflow
  .github/workflows/CI.yml
Labels: ci

Linting
  main.sh
Labels: core

Linting
  main.sh
Labels: core

tmp log handling
  main.sh
Labels: core

tmp log handling (#34)
  main.sh
Labels: core

[ImgBot] Optimize images
  .github/logo.png
Labels: none

.github/labeler.yml:

apps:
  - "compose/.apps/**/*.yml"
  - ".apps/**/*.yml"
  - ".data/*.yml"
  - ".data/*.json"

ci:
  - ".github/workflows/*.yml"
  - ".travis.yml"

core:
  - "*.sh"

docs:
  - "*.md"
